:root{
    --mainColor:#e7e7e7;
    --secondarycolor:#fff;
    --borderColor:#323232;
    --mainText:black;
    --secondarytext:4b5156;
    --themeDotBorder:#000000;
    --previewBg: rgb(251, 249, 243,0.8);
    --previewShadow:#E8E8E8;
    --gif-texture: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gifv);
    --buttonColor: black;
}


html,body{
    padding: 0;
    margin: 0;
}
body *{
    transition: 0.3s;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 , strong{
   color: var(--mainText);
   font-family: "Wittgenstein", serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;

}
p, li, span, label, input, textarea{
    color: var(--mainText);
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}
a{
    text-decoration: none;
    color:#1803fc ;

}
ul{
    list-style: none;
}
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}
.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondarycolor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;


}
.main-container{
    width: 1200px;
    margin: 0 auto;
}
.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    /*border: 2px dashed lightcoral;*/
    min-height: 10em;
}
.intro-wrapper{
    
    background-color: var(--secondarycolor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.75);
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas:
     'nav-wrapper nav-wrapper'
     'left-column right-column'
     ;
}
#navigation{
    color: var(--secondarycolor);
    margin: 0;
    padding: 10px;

}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    
}
#navigation a{
    color: #fff;
}
/*.navigation{
    color: var(--secondarycolor);
}*/
.left-column{
    grid-area: left-column;
    padding-top: 50PX;
    padding-bottom: 50px;

}
#profile_pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
}
.theme-dot{
    background-color:black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7e4c74;
}


.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;

}
#preview{
    width: 300px;
    border:1.5px solid #17a2b8;
    background-color: var(--previewBg) ;
    padding: 15px;

}
.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) ;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}
#social_img{
    width: 100%;
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}
/*.post-wrapper:hover:after {
  content: "";
  display: flex;
  position: absolute;
  background-image: var(--gif-texture);
  height: 580px;
  width: 960px;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 64%;
  z-index: 3;
}*/

.post{
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}
.thumbnail{
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.post-preview{
    background-color:#fff ;
    padding: 15px ;
}
.post-title{
    color: black;
    margin:0 ;
}
.post-intro{
    color: #4b5156;
    font-size: 16px;

}
#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}
#contact-form label{
line-height: 2.7em;
}
.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondarycolor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}
#submit-btn{ 
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;

}
@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
        
    
}
@media screen and (max-width: 800px){
    .intro-wrapper{
    
       
         grid-template-columns: 1fr;
         grid-template-areas:
         'nav-wrapper'
         'left-column'
         'right-column'
         ;
    }
    .right-column{
        justify-content: center;
    }
        
    
}
    
